<style>
    .app-modal-window .modal-dialog {
        width: 410px;
    }
    
    .schedule_btn {
        width: 65px;
        height: 36px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
    }
    
    .schedule_btn:hover {
        border-color: #cccccc;
    }
    
    .glyphicon:hover {
        color: grey;
    }
    
    .app-modal-window-md .modal-dialog {
        width: 650px;
    }
</style>
<div class="modal-header" style="text-align:center;">
    <div style="display: inline-block;width: 280px;height:35px;margin: 0 atuo;">
        <span class="glyphicon glyphicon-chevron-left" style="float:left;cursor:pointer" ng-click="change_day('last')"></span>
        <h4 style="float:left;margin: -3px 28px 0 28px;" class="modal-title">{{now | date:'yyyy年MM月dd日'}}</h4>
        <span class="glyphicon glyphicon-chevron-right" style="float:left;cursor:pointer;" ng-click="change_day('next')"></span>
    </div>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div style="overflow-y:scroll; width:400px;height:400px;">
                <div ng-repeat="schedule in data">
                    <div class="col-sm-2" style="margin:0 30px 20px 0">
                        <span style="margin-left: 13px;">{{schedule.time | date:'HH:mm'}}</span>
                        <div class="schedule_btn" ng-style="btn_style(schedule)" ng-click="schedule_selected(schedule)">
                            <div ng-style="schedule.has_booked?{fontSize: '23px',marginLeft:'21px',marginTop:'1px'}:{fontSize: '14px',marginLeft:'8px',marginTop:'6px'}" style="width:45px;height:15px;">
                                {{schedule.has_booked == 0 ? '无预约' : schedule.has_booked}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;">
        <div style="display: inline-block;width: 280px;height:35px;margin: 0 atuo;">
            <button style="float:left;width:120px;" ng-class="selected_schedule ? ['btn','btn-primary']:['btn','btn-grey','disabled']" type="button" ng-click="ok()">确定</button>
            <button style="float:right;width:120px;" class="btn btn-default" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>