<style>
    a {
        cursor: pointer;
    }
    
    .header_box {
        width: 100%;
        background-color: rgb(242, 242, 242);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .content_box {
        width: 100%;
        position: absolute;
        top: 54px;
        bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .box {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .top_panel {
        width: 100%;
    }
    
    .center_panel {
        width: 100%;
        top: 40px;
        bottom: 0px;
        position: absolute;
    }
    
    .left_form {
        width: 45%;
        height: 100%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .center_form {
        width: 55%;
        height: 100%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .right_form {
        width: 20%;
        height: 100%;
        float: left;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .bottom_panel {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form_box {
        margin: 12px;
        /*margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;*/
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        border-color: "#black";
        background-color: rgb(242, 242, 242);
        position: relative;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .clear_padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .clear_margin {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .body_items {
        height: 180px;
        overflow-y: auto;
        border: 4px solid;
        border-color: #9cb8d1;
        border-radius: 4px;
        padding: 5px;
    }
    
    .body_item {
        font-size: 14px;
        font-weight: bold;
        background-color: white;
        border: 2px solid;
        border-color: #04afff;
        border-radius: 5px;
        float: left;
        margin: 5px;
        padding: 5px;
        cursor: pointer;
    }
    
    .body_item_sel {
        border-color: rgb(242, 242, 242);
        background-color: rgb(70, 120, 178);
        color: white;
    }
    
    .form_title {
        top: -12px;
        left: 20px;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        z-index: 20;
        border-radius: 2px;
        background-color: rgb(242, 242, 242);
    }
    
    .app-modal-window .modal-dialog {
        width: 410px;
    }
    
    .schedule_btn {
        width: 65px;
        height: 36px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
    }
    
    .schedule_btn:hover {
        border-color: #cccccc;
    }
    
    .glyphicon:hover {
        color: grey;
    }
    
    .app-modal-window-md .modal-dialog {
        width: 650px;
    }
    
    .btn_sel {
        background-color: #04afff;
    }
    
    .table-head {
        height: 38px;
    }
    
    .table-body::-webkit-scrollbar {
        background: transparent;
        width: 1px;
    }
    
    .table-body {
        background-color: white;
        position: absolute;
        top: 58px;
        left: 20px;
        right: 20px;
        bottom: 10px;
        overflow-y: auto;
    }
    
    .table-body:hover::-webkit-scrollbar {
        background: lightyellow;
    }
    
    .table-body:hover::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    
    .table-body:hover::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }
</style>
<div class="header_box">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-class="{'btn-primary':(cur_patient.patient_type == 0)}" ng-click="set_patient_type(0)">门诊患者</button>
        <button type="button" class="btn btn-default" ng-class="{'btn-primary':(cur_patient.patient_type == 1)}" ng-click="set_patient_type(1)">住院患者</button>
    </div>
    <div class="form-horizontal pull-right" role="form">
        <button class="btn btn-primary" style="margin-left:50px;" ng-click="save()" ng-disabled="!can_save" id="save_btn">保存</button>
        <button class="btn btn-waring" style="margin-left:10px;" ng-click="back()" id="cancel_btn">取消</button>
    </div>
</div>
<div class="content_box">
    <div style="width:100%;height:97%;position:relative;">
        <div class="top_panel">
            <div class="form-inline box">
                <label style="color:#04afff;">检查单号</label>
                <input type="text" class="form-control danger" onkeyup="value=value.replace(/[\W]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" placeholder="检查单号" ng-model="cur_patient.hospital_no" ng-keypress="search_keydown($event)"
                    ng-disabled="cur_patient.patient_type == 1" />
                <label style="color:#04afff;margin-left:5px;" ng-show="cur_patient.patient_type == 1">*住院号</label>
                <input type="text" class="form-control" ng-show="cur_patient.patient_type == 1" style="width: 120px;" onkeyup="value=value.replace(/[\W]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" placeholder="住院单号"
                    ng-model="cur_patient.in_patient_num" ng-keypress="search_keydown($event)" />
                <button class="btn btn-default" ng-click="load_hospital_data()">读取医院数据</button>
                <div class="form-horizontal pull-right" role="form">
                    <label for="appointment_at" class="control-label" style="margin-left:20px;">*时间</label>
                    <button class="btn btn-primary btn_sel" id="appointment_at" ng-click="set_schedule()">{{cur_patient.appointment_at ? cur_patient.appointment_at.Format('yyyy-MM-dd hh:mm'):"请选择预约时间"}}</button>
                    <input type="text" style="display:none;" ng-model="cur_patient.appointment_at" required-btn="true" />
                    <label for="order_code" class="control-label" style="margin-left:20px;" ng-show="cur_patient.patient_type == 0">*快诊</label>
                    <button class="btn btn-primary btn_sel" id="order_code" ng-click="match_diag_order()" ng-show="cur_patient.patient_type == 0">{{cur_patient.order_code | noneSShow:'点击匹配快诊订单'}}</button>
                    <input type="text" style="display:none;" ng-model="cur_patient.order_code" ng-attr-required-btn="{{(cur_patient.patient_type == 0)}}" />

                    <label for="film_set" class="control-label" style="margin-left:20px;display: none;">*胶片</label>
                    <div id="film_set" class="btn-group" role="filmgroup" style="display: none;" aria-label="胶片">
                        <button type="button" class="btn btn-default" ng-class="{'btn-success':(cur_patient.film == true)}" ng-click="cur_patient.film = !cur_patient.film">纸质</button>
                        <button type="button" class="btn btn-default" ng-class="{'btn-success':(cur_patient.electronic_film == true)}" ng-click="cur_patient.electronic_film = !cur_patient.electronic_film">电子</button>
                    </div>
                    <label class="control-label" style="color:red" id="error_msg" ng-show="have_error">* 请输入必填项</label>
                </div>
            </div>
        </div>
        <div class="center_panel">
            <div class="left_form">
                <div class="form-horizontal form_box" role="form" style="height:45%;">
                    <div class="form_title">患者信息</div>
                    <div class="form-group">
                        <label for="patient_name" class="col-xs-3 control-label">*患者姓名</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="patient_name" ng-model="cur_patient.patient_name" placeholder="姓名" required-i=true>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="patient_phone" class="col-xs-3 control-label">患者电话</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="patient_phone" ng-model="cur_patient.patient_phone" placeholder="电话">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="patient_sex" class="col-xs-3 control-label">*患者性别</label>
                        <div class="col-xs-9">
                            <select class="form-control" id="patient_sex" ng-model="cur_patient.patient_sex" ng-options="ps.name for ps in sex_arr" required-i=true>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="patient_age" class="col-xs-3 control-label">患者年龄</label>
                        <div class="col-xs-9">
                            <input type="number" class="form-control" id="patient_age" ng-model="cur_patient.patient_age" max="120" min="1" placeholder="年龄">
                        </div>
                    </div>
                    <div class="form-group" ng-show="cur_patient.patient_type == 1">
                        <label for="in_patient_state" class="col-xs-3 control-label">*登记时状态</label>
                        <div class="col-xs-9">
                            <select class="form-control" id="in_patient_state" ng-model="cur_patient.in_patient_state" ng-options="ips.text for ips in in_patient_state_arr" ng-attr-required-i="{{(cur_patient.patient_type == 1)}}">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal form_box" role="form" style="height:45%;" ng-show="cur_patient.patient_type == 0">
                    <div class="form_title">费用信息</div>
                    <div class="form-group">
                        <label for="total_fee" class="col-xs-3 control-label">*医疗费用</label>
                        <div class="col-xs-9">
                            <input type="number" class="form-control" id="total_fee" ng-model="cur_patient.total_fee" placeholder="医疗费用" ng-attr-required-i="{{(cur_patient.patient_type == 0)}}" string-to-number>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="real_pay" class="col-xs-3 control-label">*实际缴费</label>
                        <div class="col-xs-9">
                            <input type="number" min="0" step="0.01" class="form-control" id="real_pay" ng-model="cur_patient.real_pay" placeholder="实际缴费" ng-attr-required-i="{{(cur_patient.patient_type == 0)}}" string-to-number>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reduce_pay" class="col-xs-3 control-label">优惠额度</label>
                        <div class="col-xs-9">
                            <input type="number" min="0" step="0.01" class="form-control" id="reduce_pay" ng-model="cur_patient.reduce_pay" placeholder="优惠额度" string-to-number>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="insurance_pay" class="col-xs-3 control-label">医保金额</label>
                        <div class="col-xs-9">
                            <input type="number" min="0" step="0.01" class="form-control" id="insurance_pay" ng-model="cur_patient.insurance_pay" placeholder="医保金额" string-to-number>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal form_box" role="form" style="height:45%;" ng-show="cur_patient.patient_type == 1">
                    <div class="form_title">消费项目</div>
                    <div class="table-head">
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width: 160px;" />
                                <col />
                                <col style="width: 80px;" />
                                <col style="width: 80px;" />
                                <col style="width: 80px;" />
                            </colgroup>
                            <tr>
                                <th>创建时间</th>
                                <th>项目名</th>
                                <th>数量</th>
                                <th>单价</th>
                                <th>总金额</th>
                            </tr>
                        </table>
                    </div>
                    <div class="table-body">
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width: 160px;" />
                                <col />
                                <col style="width: 80px;" />
                                <col style="width: 80px;" />
                                <col style="width: 80px;" />
                            </colgroup>
                            <tr ng-repeat="ipc_project in cur_patient.ip_check_project_arr">
                                <td>{{ipc_project.project_created_at | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{ipc_project.project_name}}</td>
                                <td>{{ipc_project.project_num}}</td>
                                <td>{{ipc_project.project_price}}</td>
                                <td>{{(ipc_project.project_num*ipc_project.project_price)}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="center_form">
                <div class="form-horizontal form_box" role="form" style="height:92.3%;">
                    <div class="form_title">检查信息</div>
                    <div class="form-group">
                        <label for="project" class="col-xs-3 control-label">*检查项目</label>
                        <div class="col-xs-9">
                            <select class="form-control" id="project" ng-model="cur_patient.project" ng-options="project.name for project in project_arr" ng-change="project_change(cur_patient.project)" required-i=true>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="body" class="col-xs-3 control-label">*检查部位</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="body" value="{{get_sel_body_desc()}}" readonly="readonly" placeholder="请选择检查部位" required-i=true>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <input type="text" class="form-control" id="body_name" placeholder="搜索检查部位" ng-model="body_name" ng-keypress="search_body_keydown($event)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <select class="form-control" id="body_group" ng-model="cur_patient.body_group" ng-options="bg.name for bg in body_group_arr" ng-change="body_group_change(cur_patient.body_group)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <div class="body_items">
                                <div class="body_item" ng-class="{'body_item_sel':cur_patient.bodies.indexOf(b)>-1}" ng-repeat="b in cur_body_arr | filter:{name:body_name}" ng-click="body_change(b)">{{b.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="diagnose_info" class="col-xs-3 control-label">诊断信息</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" rows="3" id="diagnose_info" ng-model="cur_patient.diagnose_info" placeholder="请填写医生诊断意见"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clean:both;"></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="film_config.html">
    <film_config></film_config>
</script>

<script type="text/ng-template" id="set_schedule.html">
    <select_appointment_at></select_appointment_at>
</script>

<script type="text/ng-template" id="match_diag_order.html">
    <div class="modal-header">
        <div style="display: inline-block;width: 260px;height:35px;margin-top:9px;float:left">
            <span class="glyphicon glyphicon-chevron-left" style="float:left;cursor:pointer" ng-click="change_day('last')"></span>
            <h4 style="float:left;margin: -3px 28px 0 28px;" class="modal-title">{{day_zh}}</h4>
            <span class="glyphicon glyphicon-chevron-right" style="float:left;cursor:pointer;" ng-click="change_day('next')"></span>
        </div>
        <input type="text" placeholder="搜索患者姓名" class="form-control" style="width:260px;float:left;margin-left:15px;" ng-change="get_page_data()" ng-model="patient_name" />
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div style="overflow-y:scroll;margin-left:23px;width:95%;height:400px;">
                    <table class="table table-bordered table-hover">
                        <tr ng-repeat="order in orders">
                            <td>{{order.patient_name}}</td>
                            <td width="65">{{order.patient_phone}}</td>
                            <td>{{order.project_name}}({{order.body_description}})</td>
                            <td>{{order.diagnose_info}}</td>
                            <td width="20">
                                <input type="radio" value="{{order.order_code}}" ng-model="selected_order.order_code" ng-click="set_selected_obj(order)" />
                            </td>
                        </tr>
                    </table>
                </div>
                <hr style="margin: 0px 0 5px 0" />
                <div class="row" style="width: 100px;height:35px;float: right;margin: 10px 11px 0 0">
                    无匹配项 <input type="radio" ng-model="selected_order.order_code" value="无匹配项">
                </div>
                <div class="panel panel-default" style="margin-left:23px;width:95%;;height:80px;margin-top:40px;font-size: 15px;font-weight:900">
                    <div style="margin: 5px 0 0 8px">
                        登记信息<br/>{{form_data.patient_name}} {{form_data.project.name}}<br/>{{form_data.bodies_str}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="color:red; margin: 0 0 9px 9px;">{{error_msg}}</div>
        <div style="text-align:center;">
            <div style="display: inline-block;width: 280px;height:35px;margin: 0 atuo;">
                <button style="float:left;width:120px;" ng-class="selected_order.order_code ? ['btn','btn-primary']:['btn','btn-grey','disabled']" type="button" ng-click="ok()">确定</button>
                <button style="float:right;width:120px;" class="btn btn-default" type="button" ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</script>