<style>
    a {
        cursor: pointer;
    }
    
    .header_box {
        width: 100%;
        background-color: rgb(242, 242, 242);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .content_box {
        width: 100%;
        position: absolute;
        top: 50px;
        bottom: 0px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .box {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .page_content {
        position: absolute;
        top: 40px;
        bottom: 0px;
        width: 100%;
        /*height: 100%;*/
        overflow: auto;
        border-top: 1px solid;
        border-color: rgba(136, 136, 136, 0.4);
        background-color: #FFFFFF;
    }
    
    .page_title {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .left_panel {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        border: 1px solid;
        border-radius: 5px;
        border-color: rgba(136, 136, 136, 0.4);
    }
    
    .cur_date {
        font-size: 20px;
        font-weight: bold;
    }
    
    .func_button {
        width: 98%;
        height: 70px;
    }
    
    .table_header {
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: rgba(136, 136, 136, 0.4);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .table_content_cursor {
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin-left: 10px;
    }
    
    .table_content {
        font-weight: bold;
        text-align: center;
    }
    
    .cursor {
        color: white;
        background-color: rgb(70, 120, 178);
        font-size: 18px;
        width: 90%;
        border-radius: 0 20px 20px 0;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    .clear_padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .clear_margin {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .time_point {
        position: absolute;
        left: 0px;
        top: -23px;
    }
    
    .point {
        width: 20px;
        height: 20px;
        background-color: yellow;
        border-radius: 10px;
        box-shadow: 2px 2px 3px #aaaaaa;
        float: left;
    }
    
    .point_tip {
        margin-left: 5px;
        float: left;
    }
    
    .time_point_line {
        position: absolute;
        left: 10px;
        top: 0px;
        bottom: -20px;
        width: 1px;
        height: 100%;
        background-color: black;
    }
    
    .trow {
        margin-top: 25px;
        margin-bottom: 25px;
        position: relative;
        min-height: 50px;
    }
    
    .trow_bolder {
        position: absolute;
        left: 0px;
        top: -30px;
        bottom: 0px;
        width: 1px;
        background-color: rgba(136, 136, 136, 0.4);
        z-index: 30;
    }
    
    .prow {
        position: static;
        display: flex;
        align-items: center;
    }
    
    .prow_content {
        width: 100%;
        float: left;
        background-color: rgb(242, 242, 242);
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
    }
    
    .prow_content_cur {
        background-color: rgb(228, 228, 228);
    }
    
    .margin_left_right {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>
<div class="header_box">
    <div class="form-inline margin_left_right">
        <div style="width:38%;text-align:left;float:left;">
            <div class="form-group">
                <input ng-model="patient_name" type="text" class="form-control" placeholder="患者姓名" ng-keypress="search_keydown($event)" />
                <button class="btn btn-default" ng-click="search_patient()">搜索</button>
            </div>
        </div>
        <div style="width:24%;text-align:center;float:left;">
            <div class="form-group cur_date">
                <button class="btn btn-success" ng-click="previous_day()">&lt;</button>&nbsp;&nbsp;{{current_date | dateAndWeek}}&nbsp;&nbsp;<button class="btn btn-success" ng-click="next_day()">&gt;</button>
            </div>
        </div>
        <div style="width:38%;text-align:right;float:left;">
            <div class="form-group" style="margin:10px 0 10px 0;">
                <a href="/admin#/patientInfo">返回排班表</a>
            </div>
        </div>
        <div style="clear:both;">
        </div>
    </div>
</div>
<div class="content_box">
    <div class="left_panel">
        <div class="page_title">
            <div class="table_header" style="width:18%;float:left;">检查单</div>
            <div class="table_header" style="width:18%;float:left;">患者名</div>
            <div class="table_header" style="width:18%;float:left;">检查项目</div>
            <div class="table_header" style="width:18%;float:left;">检查部位</div>
            <div class="table_header" style="width:10%;float:left;">预约时间</div>
            <div class="table_header" style="width:18%;float:left;">操作</div>
            <div style="clear:both;"></div>
        </div>
        <div class="page_content">
            <div ng-slimscroll width="100%;" height="100%" style="position:relative;">
                <div class="trow_bolder" style="left:17.95%;"></div>
                <div class="trow_bolder" style="left:35.95%;"></div>
                <div class="trow_bolder" style="left:53.95%;"></div>
                <div class="trow_bolder" style="left:71.95%;"></div>
                <div class="trow_bolder" style="left:81.95%;"></div>
                <div class="prow" ng-repeat="data in data_arr | orderBy: 'appointment_at' track by $id(data)">
                    <div class="prow_content clear_padding" ng-class="{'prow_content_cur':($index%2 == 0)}">
                        <div class="table_content" style="width:18%;float:left;font-size:1.6em;">{{data.hospital_no}}</div>
                        <div class="table_content" style="width:18%;float:left;font-size:1.6em;">{{data.patient_name}}</div>
                        <div class="table_content" style="width:18%;float:left;font-size:1.6em;">{{data.project_name}}</div>
                        <div class="table_content" style="width:18%;float:left;" ng-bind-html="data.body_description | bodyDesc"></div>
                        <div class="table_content" style="width:10%;float:left;font-size:1.6em;">{{data.appointment_at | date:'hh:mm'}}</div>
                        <div class="table_content" style="width:18%;float:left;">
                            <button class="btn btn-primary" ng-click="re_appointment_at(data)">修改预约时间</button>
                            <button class="btn btn-danger" ng-click="cancel_examine(data)">取消检查</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="set_schedule.html">
    <select_appointment_at></select_appointment_at>
</script>


<script type="text/ng-template" id="cancel.html">
    <cancel_examine></cancel_examine>
</script>