<style>
    a:hover {
        cursor: pointer;
    }
</style>
<div class="container-fluid">
    <table class="table table-bordered table-hover" style="margin-top:20px;">
        <tr style="background-color:#f6f6f6;">
            <th>账号</th>
            <th>真实姓名</th>
            <th>电话号码</th>
            <th>邮箱</th>
            <th>所属诊断中心</th>
            <th></th>
        </tr>
        <tr ng-repeat="row in data_row.row_arr">
            <td>{{row.name}}</td>
            <td>{{row.realname}}</td>
            <td>{{row.phone}}</td>
            <td>{{row.email}}</td>
            <td></td>
            <td>
                
            </td>
        </tr>
        </tbody>
    </table>
    <div class='pagination' style="margin-top: 50px;float: right">
        <uib-pagination first-text="首页" next-text="下一页" previous-text="上一页" last-text="尾页" total-items="data_row.row_count" items-per-page="data_row.page_size" ng-model="data_row.current_page" max-size="5" ng-change="get_page_data()" class="pagination-sm" boundary-links="true"
            force-ellipses="true"></uib-pagination>
    </div>
</div>
