<style>
    a:hover {
        cursor: pointer;
    }
    .header-right{
        float: right;
        margin: 25px 0 20px 0;
    }
    .line{
        display: inline-block;
        width: 32%;
    }
    .modal_input {
        margin-bottom: 7px;
    }
</style>
<div class="container-fluid">
    <div style="float: left;margin: 25px 0 18px 0">
        <label>所属医院：</label>
        <select ng-model="search_hospital" ng-change="get_page_data()" ng-options="h as h.name for h in hospitals" class="form-control input-sm" style="width: 130px; display: inline-block">
            <option value="">全部</option>
        </select>
        <span style="width: 30px; display: inline-block"></span>
        <label>姓名：</label>
        <input type="text" ng-keypress="search_keydown($event)" class="form-control line"  ng-model="search_realname" placeholder="姓名">
    </div>
    <div class="header-right">
        <button type="button" class="btn btn-primary btn-sm" ng-click="add_or_edit_user()">添加医院人员</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="add_or_edit_dc_role()">角色</button>
    </div>
    <table class="table table-bordered table-hover" style="margin-top:20px;">
        <tr style="background-color:#f6f6f6;">
            <th>账号</th>
            <th>真实姓名</th>
            <th>医院名称</th>
            <th>电话号码</th>
            <th>角色</th>
            <th></th>
        </tr>
        <tr ng-repeat="row in data_row.row_arr">
            <td>{{row.name}}</td>
            <td>{{row.realname}}</td>
            <td>{{row.hospital.name}}</td>
            <td>{{row.phone}}</td>
             <td>{{row.role.description}}</td>
            <td>
                <a class="btn btn-primary btn-xs color_box" ng-click="add_or_edit_user(row)">编辑</a>
                <a class="btn btn-xs color_box" ng-class="{true:'btn-success',false:'btn-danger'}[row.is_delete]" ng-click="change_state(row)">{{row.is_delete?'启用':'禁用'}}</a>
            </td>
        </tr>
    </table>
    <div class='pagination' style="margin-top: 50px;float: right">
        <uib-pagination first-text="首页" next-text="下一页" previous-text="上一页" last-text="尾页" total-items="data_row.row_count" items-per-page="data_row.page_size" ng-model="data_row.current_page" max-size="5" ng-change="get_page_data()" class="pagination-sm" boundary-links="true"
            force-ellipses="true"></uib-pagination>
    </div>
</div>

<!-- 添加或编辑用户 -->
<script type="text/ng-template" id="add_or_edit_user.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{title}}用户</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">账户名</label>
                <div class="col-sm-10 modal_input">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="data.name" placeholder="账户名">
                </div>
                <label for="name" class="col-sm-2 control-label">医院名称</label>
                <div class="col-sm-10 modal_input">
                    <select ng-options="hospital as hospital.name for hospital in hospitals track by hospital.id" ng-model="data.hospital" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                    </select>
                </div>
                <label for="name" class="col-sm-2 control-label">真实姓名</label>
                <div class="col-sm-10 modal_input">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="data.realname" placeholder="真实姓名">
                </div>
                <label for="name" class="col-sm-2 control-label">角色</label>
                <div class="col-sm-10 modal_input">
                    <select ng-options="role as role.description for role in roles track by role.id" ng-model="data.role" class="form-control ng-pristine ng-untouched ng-valid ng-empty"></select>
                </div>
                <label for="name" class="col-sm-2 control-label" ng-show="can_dh_show()">绑定医院</label>
                <div class="col-sm-10 modal_input" ng-show="can_dh_show()">
                    <label class="checkbox-inline" ng-repeat="h in hospitals">
                        <input type="checkbox" id="{{h.id}}" ng-model="h.is_checked" />{{h.name}} 
                    </label>
                </div>
                <label class="col-sm-2 control-label" ng-show="data.role.name=='医生'">报告医生</label>
                <div class="col-sm-10 modal_input" ng-show="data.role.name=='医生'">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="data.report_doctor" placeholder="报告医生">
                </div>
                <label for="name" class="col-sm-2 control-label">电话</label>
                <div class="col-sm-10 modal_input">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="data.phone" placeholder="电话">
                </div>
                <div>
                    <label for="name" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10 modal_input">
                        <input ng-model="data.password" type="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="密码">
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right;">
            <span ng-show="has_err" style="float:left;margin-left:30px;color:red;">{{err_msg}}</span>
            <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</script>

<!-- 新增或编辑角色 -->
<script type="text/ng-template" id="user_role_form.html">
    <div class="modal-header">
        <h4 class="modal-title">角色</h4>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover">
            <tr style="background-color:#f6f6f6;">
                <th>名称</th>
                <th>描述</th>
                <th></th>
            </tr>
            <tr ng-repeat="row in roles">
                <td>{{row.name || "--"}}</td>
                <td>{{row.description || "--"}}</td>
                <td>
                    <a class="btn btn-primary btn-xs color_box" ng-click="add_or_edit_role(row)">编辑</a>
                </td>
            </tr>
            <tr ng-if="roles.length==0">
                <td colspan=4 style="text-align:center">(暂无数据)</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="add_or_edit_role()">新增</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</script>

<!-- 新增或编辑角色form -->
<script type="text/ng-template" id="add_or_edit_user_role_form.html">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}角色</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">名称</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="role.name" placeholder="名称"/>
                </div>
            </div>
            <div class="form-group">
                <label for="city_id" class="col-sm-3 control-label">描述</label>
                <div class="col-sm-9">
                    <input ng-model="role.description" class="form-control" placeholder="描述"/>
                </div>
            </div>
            <div class="form-group">
                <label for="city_id" class="col-sm-3 control-label">唯一编码</label>
                <div class="col-sm-9">
                    <input ng-model="role.code" class="form-control" placeholder="唯一编码"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</script>