<div id="studyViewerTemplate" class="tab-pane active" style="height:100%">
    <div class="studyContainer" style="height:100%;overflow:hidden;">
        <div class="studyRow row" style="height:100%">

            <!-- Thumbnails -->
            <div class="thumbnailSelector">
                <div class="thumbnails list-group">
                </div>
            </div>

            <!-- Viewer -->
            <div class="viewer">
                <!-- Toolbar -->
                <div class="text-center">
                    <div class="btn-group">
                        <!-- WW/WL -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">窗宽/窗位</button>
                        <!-- Invert -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">反转</span></button>
                        <!-- Zoom -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">缩放</button>
                        <!-- Pan -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">移动</span></button>
                        <!-- Stack scroll -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">片层</button>
                        <!-- Length measurement -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">长度</button>
                        <!-- Angle measurement -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">角度</button>
                        <!-- Pixel probe -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">测点</button>
                        <!-- Elliptical ROI -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">圆形</span></button>
                        <!-- Rectangle ROI -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">矩形</button>
                        <!-- Play clip -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">播放</button>
                        <!-- Stop clip -->
                        <button type="button" class="btn btn-sm btn-film-default" data-container='body' data-toggle="tooltip" data-placement="bottom">停止</button>
                        <button type="button" class="btn btn-sm btn-film-default dropdown-toggle" data-container='body' data-toggle="dropdown" aria-expanded="false" data-placement="top">布局</button>
                        <ul class="pull-right dropdown-menu choose-layout" role="menu">
                            <li><a>1x1</a></li>
                            <li><a>2x1</a></li>
                            <li><a>1x2</a></li>
                            <li><a>2x2</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Viewer -->
                <div class="imageViewer">

                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>