.center{
    text-align: center;
    font-weight:100;
}
.t1{
    width: 100%;
}
td{
    height: 40px;
}
.title{
    width: 85px;
}
table{
    font-size:14px;
}
span{
    font-size:14px;
}
.line{
    width: 100%;
    height: 1px;
    background: #000;
}